@font-face {
    font-family: Metropolis;
    src: url('/fonts/Metropolis-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: Metropolis;
    src: url('/fonts/Metropolis-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: Metropolis;
    src: url('/fonts/Metropolis-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: Metropolis;
    src: url('/fonts/Metropolis-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: Metropolis;
    src: url('/fonts/Metropolis-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: Metropolis;
    src: url('/fonts/Metropolis-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: Metropolis;
    src: url('/fonts/Metropolis-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: Metropolis;
    src: url('/fonts/Metropolis-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: Metropolis;
    src: url('/fonts/Metropolis-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: Metropolis;
    src: url('/fonts/Metropolis-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: Metropolis;
    src: url('/fonts/Metropolis-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: Metropolis;
    src: url('/fonts/Metropolis-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: Metropolis;
    src: url('/fonts/Metropolis-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Metropolis;
    src: url('/fonts/Metropolis-RegularItalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: Metropolis;
    src: url('/fonts/Metropolis-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: Metropolis;
    src: url('/fonts/Metropolis-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: Metropolis;
    src: url('/fonts/Metropolis-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: Metropolis;
    src: url('/fonts/Metropolis-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}
